# Local development variables for Wrangler
DOMAIN=https://deserve.trade
API_URL=http://localhost:8787
PHANTOM_APP_ID=
PHANTOM_REDIRECT_URL=http://localhost:5173/auth/callback
TELEGRAM_BOT_TOKEN=
TELEGRAM_ADMIN_CHAT_IDS=
